# Data Types

<div style="text-align:center;">
  <img src="images/python_data_types.png" alt="Python Data Types" style="width:35%;">
</div>

## Numeric

### Integer

Integers are whole numbers, positive or negative, without decimals, of unlimited length.

In [6]:
a = 4 
type(a)

int

### Float

Floats are numbers with a decimal point or use an exponential (e) to define the number.

In [10]:
a = 4. 
b = 3.1

In [11]:
type(a)

float

In [12]:
type(b)

float

### Complex Number

Complex numbers consist of a real part and an imaginary part (usually represented by 'j' or 'J').

In [13]:
a = 1.5 + .5j
a

(1.5+0.5j)

In [14]:
type(a)

complex

In Python, you can access the real, imaginary, and conjugate parts of a complex number using attributes.

In [19]:
a.imag # Accessing the imaginary part

0.5

In [18]:
a.real # Accessing the real part

1.5

In [20]:
a.conjugate # Accessing the conjugate

When we use 'a.conjugate()', we're calling the conjugate() method on the **a** object, which is an instance of the complex class. This method calculates and returns the conjugate of the complex number represented by **a**.

## Boolean

Booleans represent one of two values: True or False.

In [21]:
a = True
type(a)

bool

## Secuence Type

### Strings

Strings are sequences of characters, enclosed within single, double, or triple quotes.

In [23]:
a = 'Hello'
type(a)

str

In [22]:
a = "Hello"
type(a)

str

In [24]:
a = '''Hello'''
type(a)

str

### List

Lists are ordered collections of items, mutables, and can contain any type of data.

#### Creating a List

We can declare a list in several ways

1. Using the `list()` function:

In [48]:
l = list((1,2,3.0,4+0.5j,True,"apple","banna"))
type(l)

list

2. Using square brackets `[]`:

In [35]:
m = [1,2,3.0,4+0.5j,True,"apple","banna"] # This is exactly the same
type (m)

list

3. Using list comprehension:

In [36]:
n = [x for x in range(1,6)]
type(n)

list

In [37]:
print(n)

[1, 2, 3, 4, 5]

In [29]:
# Random notes
a, *b, c = 1,2,3,4,5,6
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: [2, 3, 4, 5]
c: 6

#### Accessing Elements of a List

> <span style="color:red;">**Important!**</span>
In Python, lists are **zero-indexed**, which means that the first element has an index of 0, the second element has an index of 1, and so on.

In [49]:
l = list((1,2,3.0,4+0.5j,True,"apple","banna")) # List definition

1. Direct Access:

In [39]:
print(l[0])  # Accesses the first element

1

Python also supports **negative indexing**, where -1 refers to the last element, -2 refers to the second to last element, and so on.

This allows us to access elements from the end of the list without needing to know the length of the list.

In [40]:
print(l[-1]) # Accesses the last element

banna

2. Slicing:

We can get subsets of elements using slicing notation.

In [43]:
print(l[1:3]) # Accesses elements from index 1 to index 2, index 3 is not include

[2, 3.0]

In [44]:
print(l[:3])  # Accesses the first three elements

[1, 2, 3.0]

In [45]:
print(l[2:])  # Accesses elements from index 2 to the end

[3.0, (4+0.5j), True, 'apple', 'banna']

In [51]:
l[::2] # [starts:stops:steps]

[1, 3.0, True, 'banna']

#### Modifying Elements of a List

We can modify elements of a list assigning new values through their index

In [46]:
l[0] = 100  # Modifies the first element of the list
print(l)

[100, 2, 3.0, (4+0.5j), True, 'apple', 'banna']

#### List Methods

1. `append()`. Adds an element to the end of the list:

In [57]:
l = [1,2,3]
m = [4, 5, 6]
l.append(m)
print(l)

[1, 2, 3, [4, 5, 6]]

2. `extend()`. Adds elements of another list to the end of the current list

In [59]:
l = [1, 2, 3]
m = [4,5]
l.extend(m)
print(l)

[1, 2, 3, 4, 5]

3. `copy()`. Creates a shallow copy of the list. Changes made to the original list will not affect the copied list, and vice versa:

In [61]:
original_list = [1, 2, 3]
copied_list = original_list.copy()
original_list.append(4)
print(original_list)   
print(copied_list)

[1, 2, 3, 4]
[1, 2, 3]

4. `insert()`. Inserts an element at a specific position in the list:

In [62]:
l = [1, 2, 3]
l.insert(1, 1.5)
print(l)

[1, 1.5, 2, 3]

5. `remove()`. Removes the first occurrence of an element from the list:

In [63]:
l = [1, 2, 3, 2]
l.remove(2)
print(l)

[1, 3, 2]

6. `pop()`. Removes and returns the element at a specific position in the list. If no position is specified, removes and returns the last element.

In [64]:
l = [1, 2, 3]
popped_element = l.pop(1)
print(popped_element)
print(l)

2
[1, 3]

7. `index()`. Returns the index of the first occurrence of an element in the list.

In [65]:
l = [1, 2, 3, 2]
index = l.index(2)
print(index)

1

8. `count()`. Returns the number of times an element appears in the list.

In [66]:
l = [1, 2, 3, 2]
count = l.count(2)
print(count)

2

9. `sort()`. Sorts the elements of the list in place.

In [69]:
l = [3, 1, 2]
l.sort()
print(l)

[1, 2, 3]

10. `reverse()`. Reverses the order of the elements of the list in place:

In [70]:
l = [1, 2, 3]
l.reverse()
print(l)

[3, 2, 1]

### Tuple

Tuples are ordered collections of items, immutable and can contain any type of data

In [71]:
t = (1, 2, 3, "apple", "banana", "cherry")
type(t)

tuple

Tuples are a data structure similar to lists, but they are immutable, meaning they cannot be modified once created.

#### Accesing Tuple Elements

In [75]:
print(t[0])  # Output: 1
print(t[-1]) # Output: 'cherry'

1
cherry

#### Tuple Methods

1. `count()`. Returns the number of times a specific element appears in the tuple.
2. `index()`. Returns the index of the first occurrence of a specific element in the tuple.

## Non-Sequence Type

### Set

A set is an unordered collection of unique elements and are mutable.

#### Creating Sets

Sets can be created using curly braces {}:

In [78]:
s = {1, 2, 3}
type(s)

set

or by using the set() constructor:

In [79]:
s = set([4, 5, 6])
type(s)

set

#### Accessing Set Elements

Since sets are unordered, we cannot access elements by index. Instead, we can check for membership using the in keyword:

In [84]:
print(1 in s)

False

In [85]:
print(4 in s)

True

#### Set Methods

1. `add()`. Adds a single element to the set:

In [89]:
s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

2. `update()`. Adds multiple elements to the set:

In [91]:
s = {1,2,3}
s.update([4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

3. `difference()`. Obtain the elements that are in the first set and are'nt in the second.

In [26]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s1.difference(s2)

{1, 2, 3}

4. `union()`. Join two sets

In [27]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

5. `remove()`. Removes a specific element from the set. Raises an error if the element is not present:

In [92]:
s = {1,2,3}
s.remove(3)
print(s)

{1, 2}

6. `discard()`. Removes a specific element from the set if it is present. Does not raise an error if the element is not present:

In [95]:
s = {1,2,3}
s.discard(4)
s.discard(2)
print(s)

{1, 3}

7. `pop()`. Removes and returns an arbitrary element from the set:

In [97]:
s = {1,2,3}
popped_element = s.pop()
print(s)

{2, 3}

8. `clear()`. Removes all elements from the set:

In [98]:
s = {1,2,3}
s.clear()
print(s)

set()

### Dictionary

A dictionary is a data structure that allows storing key-value pairs.

Dictionaries are mutable, meaning you can modify, add, or remove elements after creation.

Keys in a dictionary must be unique and immutable, while values can be of any data type, including lists, tuples, sets, or other dictionaries.

#### Creating dictionaries

Dictionaries can be created using curly braces `{}` and specifying key-value pairs separated by commas `,` inside them:

In [118]:
d = {"key1": "value1", "key2": "value2", "key3": "value3"}
type(d)

dict

We can also create a dictionary using the `dict()` constructor and passing a list of key-value tuples as an argument:

In [115]:
d = dict([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])
type(d)

dict

Using dictionaries comprehension:

In [13]:
d = {x:x**2 for x in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#### Accessing Elements of a List

Return the value of the key

In [22]:
t = {"eva": 98745, "elena": 32165, "marc": 45678}
t["eva"]

98745

Add a new key with its value

In [24]:
t["gerad"] = 65498
t

{'eva': 98745, 'elena': 32165, 'marc': 45678, 'gerad': 65498}

#### Dictionary Methods

1. `keys()`. Returns a view of all keys in the dictionary:

In [103]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

2. `values()`. Returns a view of all values in the dictionary:

In [104]:
d.values()

dict_values(['value1', 'value2', 'value3'])

3.  `items()`. Returns a view of all key-value pairs in the dictionary as tuples:

In [105]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

4. `get()`. Returns the value associated with the specified key. If the key is not present, it returns a default value (or None if no default value is provided):

In [107]:
d.get("key2") # Using the get() method to retrieve the value associated with a key

'value2'

In [110]:
d.get("key4", "default_value") # Using the get() method with a default value if the key is not present

'default_value'

In [109]:
print(d)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

5. `update()`. Adds key-value pairs from another dictionary or a list of key-value tuples to the current dictionary:

In [119]:
d.update({"key4": "value4"})
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

6. `pop()`. Removes and returns the value associated with the specified key:

In [120]:
value = d.pop("key2")
print(value)    
print(d)

value2
{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

7. `popitem()`. Removes and returns the last key-value pair added to the dictionary:

In [121]:
last_item = d.popitem()
print(last_item) 
print(d)

('key4', 'value4')
{'key1': 'value1', 'key3': 'value3'}

8. `clear()`. Removes all elements from the dictionary:

In [123]:
d.clear()
d

{}

# Mutability of Data Types

| Mutable             | Immutable              |
|---------------------|------------------------|
| Lists               | Integers               |
| Sets                | Floats                 |
| Dictionaries        | Complex                |
|                     | Strings                |
|                     | Tuples                 |

## Mutable Objects

Mutable objects are those whose values can be changed after creation.

Mutable objects include lists, dictionaries, and sets.

> <span style="color:red;">**Important!**</span>
When assigning a mutable object to another variable, both variables reference the same object in memory.

In [128]:
# Example with a mutable object (list)
a = [1, 2, 3]
b = a      # 'b' references the same list object as 'a'
b[0] = 10  # Modifying 'b' also affects 'a'
print(a)   # Output: [10, 2, 3]

[10, 2, 3]

In [29]:
A = [1,2,3,4]
B = [5,6,7,8,A]
C = B # It's a references for the  object
A[0] = C
C

[5, 6, 7, 8, [[...], 2, 3, 4]]

## Immutable Objects

Immutable objects are those whose values cannot be changed after creation.

Immutable objects include integers, floats, complex, strings, and tuples.

When assigning an immutable object to another variable, a new object is created in memory.

In [131]:
# Example with an immutable object (integer)
a = 5
b = a    # 'b' references the same integer object as 'a'
b = 4    # A new integer object with value 1 is created, 'b' now references this new object
print(a) # Output: 5

5

# Storing Object References

In Python, we can store references to objects in various data structures (lists, dictionaries, tuples and sets). This capability allows us to store and access functions or any other type of object dynamically. Here's how we can do it:

In [133]:
# In a list:
my_list = [abs, "hello", (1, 2, 3)]

# Accessing and calling the function stored in the list
result = my_list[0](-3)
print(result)  # Output: 3 (The absolute value of -3)

3

In [136]:
# In a tuple:
my_tuple = (abs, [1, 2, 3], {"key": "value"})

# Accessing and calling the function stored in the tuple
result = my_tuple[0](-3)
print(result)  # Output: 3 (The absolute value of -3)

3

In [135]:
# In a set:
my_set = {abs, "world", (4, 5, 6)}

# Attempting to access a function in a set is not possible since sets are not indexed
# However, you can check if the function is present in the set
if abs in my_set:
    result = abs(-3)
    print(result)  # Output: 3 (The absolute value of -3)

3

In [137]:
# In a dictionary:
my_dict = {
    "abs_function": abs,
    "hello_string": "hello",
    "tuple_data": (1, 2, 3),
    "list_data": [4, 5, 6]
}

# Accessing and calling the function stored in the dictionary
result = my_dict["abs_function"](-3)
print(result)  # Output: 3 (The absolute value of -3)

3

# Strings formatting

In [57]:
I = 4
F = 4.4
S = "hello"

"This is I: %d, F: %f, S:%s" %I,F,S

In [59]:
I = 4
F = 4.4
S = "hello"

f"This is I: {I}, F: {F}, S: {S}"

'This is I: 4, F: 4.4, S: hello'

In [61]:
I = 4
F = 4.4
S = "hello"

"This is I: {I}, F: {F}, S: {S}".format(I=I, F=F, S=S)

'This is I: 4, F: 4.4, S: hello'

In [62]:
d = {"I":4,
     "F":4.4,
     "S": "hello" }

"This is I: {I}, F: {F}, S: {S}".format(**d)

'This is I: 4, F: 4.4, S: hello'

# Python Operators

Python provides a wide range of built-in mathematical operations and functions to perform arithmetic calculations. 

These operations can be used with numeric data types such as integers, floats, and complex numbers

## Arithmetic Operations

Arithmetic operators are used with numeric values to perform common mathematical operations

| Operator | Name            | Example | 
|----------|-----------------|---------|
| +        | Addition        | x + y   |
| -        | Subtraction     | x - y   |
| *        | Multiplication  | x * y   |
| /        | Division        | x / y   |
| //       | Floor division  | x // y  |
| %        | Modulus         | x % y   |
| **       | Exponentiation  | x ** y  |

In [2]:
# Arithmetic operations
a = 10
b = 3
print("Addition:", a + b)        # Output: 13
print("Subtraction:", a - b)     # Output: 7
print("Multiplication:", a * b)  # Output: 30
print("Division:", a / b)        # Output: 3.3333333333333335
print("Floor Division:", a // b) # Output: 3
print("Modulus:", a % b)         # Output: 1
print("Exponentiation:", a ** b) # Output: 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [12]:
# Arithmetic operations with srings
a = "hello " + "world"
b = 3*"hello "
print("Addition:", a) # Output: 'hello world'
print("Multiplication:", b)

Addition: hello world
Multiplication: hello hello hello

## Assigment Operators

Assignment operators are used to assign values to variables:

| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assignment          | x = 5   |
| +=       | Addition            | x += 3  |
| -=       | Subtraction         | x -= 3  |
| *=       | Multiplication      | x *= 3  |
| /=       | Division            | x /= 3  |
| %=       | Modulus             | x %= 3  |
| //=      | Floor division      | x //= 3 |
| \**=     | Exponentiation      | x \**= 3|
| &=       | Bitwise AND         | x &= 3  |
| \|=      | Bitwise OR          | x \|= 3  |
| ^=       | Bitwise XOR         | x ^= 3  |
| >>=      | Bitwise right shift | x >>= 3 |
| <<=      | Bitwise left shift  | x <<= 3 |

## Comparison Operators

Comparison operators are used to compare two values:

| Operator | Name                     | Example                        |
|----------|--------------------------|--------------------------------|
| ==       | Equal                    | x == y                         |
| !=       | Not equal                | x != y                         |
| >        | Greater than             | x > y                          |
| <        | Less than                | x < y                          |
| >=       | Greater than or equal to | x >= y                         |
| <=       | Less than or equal to    | x <= y                         |

In [15]:
# Examples with equal and grater than
print("Equal:",(2*3)==6)
print("Grater than:",5 > 6)

Equal: True
Grater than: False

***What is consider False?***
- Any number equal to zero (0, 0.0, 0+0j)
- An empty container string, list, tuple, set, dictioanry.
- False constant
- None constant

## Locigal Operators

Logical operators are used to combine conditional statements:

| Operator | Description                                             | Example               |
|----------|---------------------------------------------------------|-----------------------|
| and      | Returns True if both statements are true                | x < 5 and  x < 10     |
| or       | Returns True if one of the statements is true           | x < 5 or x < 4        |
| not      | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |

In [16]:
# Example
print("and operator:", (4<5) and (10<8))

and operator: False

## Identity Operators

| Operator | Description                                            | Example    |
|----------|--------------------------------------------------------|------------|
| is       | Returns True if both variables are the same object     | x is y     |
| is not   | Returns True if both variables are not the same object | x is not y |

In [7]:
# Example 1
a = 5
b = 5 # Same as b = a
a is b

True

In [8]:
# Example 2
a = 1027
b = 1027
a is b

False

In [5]:
# Example 3
a = [1,2,3] # this is exactly the same
b = [1,2,3]
a is b

False

In [10]:
# Example 4
l = [1,2,3,4]
b = l.copy() 
l[-1] = 100
b is l

False

### Singleton Optimization in Python

The examples we're observing illustrate the concept of singleton optimization, a memory optimization technique employed by Python for immutable objects. The aim of singleton optimization is to assign a single memory location for commonly used immutable objects, thereby reducing memory usage and enhancing performance.

Python preallocates memory for small integers within a specific range, typically from -5 to 256. Consequently, every reference to an integer within this range points to the same memory location.

Similarly, Python interns short strings (usually strings with fewer than 20 characters), meaning that multiple references to identical short strings will share the same memory location.

## Membership Operators

Membership operators are used to test if a sequence is presented in an object:

| Operator | Description                                                                      | Example    |
|----------|----------------------------------------------------------------------------------|------------|
| in       | Returns True if a sequence with the specified value is present in the object     | x in y     |
| not in   | Returns True if a sequence with the specified value is not present in the object | x not in y |

## Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

| Operator | Name                     | Description                                                                                             | Example |
|----------|--------------------------|---------------------------------------------------------------------------------------------------------|---------|
| &        | AND                      | Sets each bit to 1 if both bits are 1                                                                   | x & y   |
| \|       | OR                       | Sets each bit to 1 if one of two bits is 1                                                              | x \| y  |
| ^        | XOR                      | Sets each bit to 1 if only one of two bits is 1                                                         | x ^ y   |
| ~        | NOT                      | Inverts all the bits                                                                                    | ~x      |
| <<       | Zero fill left shift     | Shift left by pushing zeros in from the right and let the leftmost bits fall off                        | x << 2  |
| >>       | Signed right shift       | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off | x >> 2  |

# Controlling flow

In [66]:
if 2*2 == 4:
    print("Yes") # identations is code
elif 4==6:
    print("maybe")
else:
    print("No")

Yes

In [68]:
if 0: 
    print("True")
else:
    print("False")

False

# Looping

## For

In [77]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
d = {'I': 4, 'F': 4.4, 'S': 'hello'}
for e in d:
    print(e)

I
F
S

In [12]:
for k,v in d.items():
    print(k)
    print(v)

I
4
F
4.4
S
hello

In [83]:
l = ["hello", "world", "!"]
for i, e in enumerate(l):
    print(i, e)

0 hello
1 world
2 !

## While

In [14]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

# Function

In [15]:
def f():
    print("f is executed")
type(f)

function

In [101]:
f()

f is executed

Function with argument and return

In [105]:
def f2(x):
    return(x**2)
out = f2(4)
out

16

Function with a default argument

In [106]:
def f2(x = 5):
    return(x**2)
out = f2()
out

25

Function with more than one argument

In [109]:
def f3(x,y):
    return(x**y)
out = f3(2,6)
out

64

In [110]:
out = f3(y=2, x=6)
out

36

> Random notes on function calls

In [16]:
# Function definition
def add(x,y):
    return (x+y)

# Use 
x,y = 1,2
add(x,y)

# Use with arguments in a list
l = [1,2]
add(*l) # This only works with positional numbers 

# Use with arguments in dictionary
d = {"x":1,"y":2}
add(**d)

3

In [17]:
l = [3]
d = {"y":4}
add(*l,**d)

7

In [19]:
# lambda functions with one argument
p = lambda x:x**2 # declaration of a function without calling def. Important, do not have a name. It's a inline function.
p(4)

16

In [20]:
# lamda function with more than one arguments
p = lambda x,y:x**y
p(4,6)

4096

# Methods

## Map

In [ ]:
# map method 
l = [1,2,3,4,5,6]
def add(x):
    return(x+1)

m = map(add,l)
list(m)

[2, 3, 4, 5, 6, 7]

In [7]:
# map method with lambda
l = [1,2,3,4,5,6]
m = map(lambda x:x+1, l)
list(m)

[2, 3, 4, 5, 6, 7]

> <span style="color:red">**Important!**</span> Map it's a single time use object

In [9]:
m = map(lambda x:x+1, l)
type(m)

map

In [10]:
list(m)
type(m)

map

In [14]:
list(m)

[]

In [15]:
m = map(lambda x:x+1, l)
next(m) # With next we can use m more than one time

2

In [16]:
next(m)

3

In [21]:
next(m)

StopIteration:

## Reduce

In [26]:
from functools import reduce
l = [1,2,3,4,5]
reduce(lambda x,y:x+y,l) # 1. 1+2=3  2. 3+3=6  3. 6+4=10  4. 10+5=15

15

## Zip

In [28]:
a = [1,2,3]
b = ["a","b","c"]

list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

# Generators

It is like a function, but with generators we can use the equivalen of the return every number of times that we want

In [38]:
def fungen(): 
    yield("one") # instead of return
    yield("two")
    
type(fungen)

function

In [39]:
g = fungen()
type(g)

generator

In [40]:
next(g)

'one'

In [41]:
next(g)

'two'

In [42]:
next(g)

StopIteration:

In [43]:
g2 = fungen()
list(g2)

['one', 'two']

In [45]:
list(g2)

[]

In [47]:
def counter():
    i = 0
    while True:
        yield(i)
        i += 1

In [49]:
c1 = counter()
c2 = counter()

In [54]:
next(c1) # We can call infinity times

4

# Coroutines

- generators in which yield is a values

In [65]:
def sendmesomthing():
    print("Coroutines init")
    while True:
        g = (yield)
        print(g)
s = sendmesomthing()
type(s)

generator

In [68]:
next(s) # It is important put this method before we use the function
s.send("hello")

Coroutines init
hello

In [74]:
s.send("world") # If we use this line first, we get an error because we should advanced to the code to the yield line using next

world

In [70]:
def grep(pattern):
    print("")
    while True:
        g = (yield)
        if pattern in g:
            print(g)

s1 = grep("bat")
next(s1)

s1.send("this is a cat")

In [72]:
s1.send("this is a bat")

this is a bat

In [73]:
s1.close()

# Decorators

A decorators is a function 
- Input is a function 
- Output is a function

In [75]:
def deco(f):
    return(f)

outf = deco(abs)
outf(-2)

2

In [84]:
def deco(f): # f will be the decorated function
    def outf(x): # impostor function
                # x are the arguments of the decorated function
        output = f(x)
        print("input is",x)
        print("output is", output)
        return(output) # output is the output value, of the decorated functions
    return(outf) # returning the impostor function

In [85]:
newf = deco(add)
newf(3)

input is 3
output is 4
input is 3
output is 4

4

In [86]:
add(3)

input is 3
output is 4

4

Modifing deco function

In [87]:
@deco 
def add(x):
    return(x+1)

add(3)

input is 3
output is 4

4

Rosenbrock function

$$
f(x,y) = (a-x)+b(y-x)
$$
this shows a minimu at (a, a)

To-do:
- Code function rb(xi)
- xi = (1,2)
- For next week: Tracing the optimization: build a decorator to trace the work of the optimization alforithm just printing out the x,y, and reosenbrock function value, and counting the number of evaluations.

In [89]:
def rb(xi):
    x,y = xi
    return ((5-x)**2 + 4.*(y-x**2)**2)

rb ((3.,4.))

104.0

In [90]:
from scipy.optimize import minimize
x0 = (4.0,3.0)
minimize(rb,x0)

      fun: 4.690653511384729e-12
 hess_inv: array([[ 0.49982585,  4.99815263],
       [ 4.99815263, 50.10542239]])
      jac: array([ 7.06378665e-05, -6.67887599e-06])
  message: 'Desired error not necessarily achieved due to precision loss.'
     nfev: 131
      nit: 13
     njev: 40
   status: 2
  success: False
        x: array([ 4.99999864, 24.99998555])

# Exercises

> <span style="color:green">**Exercise 1**.</span> Create a list A, creat a list B that contains A, copy the list B into C, modify A and check C values

In [27]:
A = [1,2,3,4]
B = [5,6,7,8,A]
C = B # It's a references for the  object
A[-1] = 1000
C

[5, 6, 7, 8, [1, 2, 3, 1000]]

> <span style="color:green">**Exercise 2.**</span> Compute the decimals of Pi using the Wallis formula: $ \pi = 2 \cdot \prod_{n=1}^{\infty} \frac{4n^2}{4n^2 - 1} $

In [17]:
N = 1000
Pi = 2.0
for i in range(1,N):
    Pi *= (4*i**2/(4*i**2-1))
print("Pi:", Pi)

Pi: 3.1408069608284657

> <span style="color:green">**Exercise 3.**</span> Compute the decimals of Pi using the Wallis formula: $ \pi = 2 \cdot \prod_{n=1}^{\infty} \frac{4n^2}{4n^2 - 1} $ without a for

In [32]:
from functools import reduce

def pi(N=100):
    M= range(1,N)
    
    P = map(lambda i: 4.*i**2/(4.*i**2-1),M)
    R = reduce(lambda j,k: j*k, P)
    return (2*R)

pi(1000)

3.1408069608284657

> <span style="color:green">**Exercise 4.**</span> Compute the decimals of Pi using the Wallis formula and generators:

In [ ]:
def fungen(): 
    yield("one") # instead of return
    yield("two")